SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControleLogs_Erros](
	[Codigo] [int] NOT NULL,
	[Criticidade] [varchar](40) NOT NULL,
	[DataOperacao] [datetime2](7) NOT NULL,
	[Exception] [varchar](40) NOT NULL,
	[Mensagem] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControleLogs_Historico]    Script Date: 15/08/2025 22:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControleLogs_Historico](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NomeTabela] [nvarchar](100) NOT NULL,
	[IdRegistroAlterado] [bigint] NOT NULL,
	[TipoOperacao] [nvarchar](10) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[DataOperacao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControleLogs_HistoricoDetalhes]    Script Date: 15/08/2025 22:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControleLogs_HistoricoDetalhes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdHistorico] [bigint] NOT NULL,
	[ValoresAntes] [nvarchar](max) NULL,
	[ValoresDepois] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Erros_Codigo]    Script Date: 15/08/2025 22:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Erros_Codigo] ON [dbo].[ControleLogs_Erros]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Erros_Data]    Script Date: 15/08/2025 22:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Erros_Data] ON [dbo].[ControleLogs_Erros]
(
	[DataOperacao] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Historico_Data]    Script Date: 15/08/2025 22:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Historico_Data] ON [dbo].[ControleLogs_Historico]
(
	[DataOperacao] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Historico_IdUsuario]    Script Date: 15/08/2025 22:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Historico_IdUsuario] ON [dbo].[ControleLogs_Historico]
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Historico_Tabela_Registro]    Script Date: 15/08/2025 22:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_Historico_Tabela_Registro] ON [dbo].[ControleLogs_Historico]
(
	[NomeTabela] ASC,
	[IdRegistroAlterado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistoricoDetalhes_IdHistorico]    Script Date: 15/08/2025 22:39:38 ******/
CREATE NONCLUSTERED INDEX [IX_HistoricoDetalhes_IdHistorico] ON [dbo].[ControleLogs_HistoricoDetalhes]
(
	[IdHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ControleLogs_Erros] ADD  DEFAULT (sysutcdatetime()) FOR [DataOperacao]
GO
ALTER TABLE [dbo].[ControleLogs_Historico] ADD  DEFAULT (sysutcdatetime()) FOR [DataOperacao]
GO
ALTER TABLE [dbo].[ControleLogs_HistoricoDetalhes]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoDetalhes] FOREIGN KEY([IdHistorico])
REFERENCES [dbo].[ControleLogs_Historico] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ControleLogs_HistoricoDetalhes] CHECK CONSTRAINT [FK_HistoricoDetalhes]
