<div class="row marginDiv">
    <div class="col-lg-12 col-md-12 col-xs-12 col-xl-12 col-sm-12">
        <app-ngx-editor [config]="editorConfig"></app-ngx-editor>
    </div>
</div>
<div class="row marginDiv">
    <div class="col-lg-4 col-md-4 col-xs-4 col-xl-4 col-sm-4">
        <mat-checkbox>Aceito o termo de responsabilidade</mat-checkbox>
    </div>
    <div class="col-lg-8 col-md-8 col-xs-8 col-xl-8 col-sm-8" style="display: flex !important;">
        <mat-icon>print</mat-icon>&nbsp;
        <mat-label>Imprimir termo de responsabilidade</mat-label>
    </div>
</div>