<mat-tab-group>
    <mat-tab label="Informações">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
                <mat-card>
                    <br>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
                                <label>Via Principal: </label>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
                                <label>Altura Numérica: </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
                                <label>Sub Prefeitura: </label>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
                                <label>TPOV: </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
                                <label>TPU: </label>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
                                <label>Alvará: </label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-xl-12 col-md-12 text-right">
                                <div class="example-button-row ">
                                    <button mat-icon-button matTooltip="Execução de Obra">
                                        <mat-icon>insert_drive_file</mat-icon>
                                    </button>
                                    <button mat-icon-button matTooltip="Visualizar AIO">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                    <button mat-icon-button matTooltip="Download AIO">
                                        <mat-icon>cloud_download</mat-icon>
                                    </button>
                                    <button mat-icon-button matTooltip="Editar(Reaviso data)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button matTooltip="Cancelar AIO">
                                        <mat-icon>block</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="ATO"> ATO</mat-tab>
</mat-tab-group>